.cart{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.cart .empty_block{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* justify-content: center; */
    padding: 3%;
    /* margin: 0px 34px; */
    /* margin: 24px; */
    
}
.cart .empty_block .cart_header{
    margin-top: -3%;
    margin-left: -3%;
}
.cart .empty_block_item{
    width: 1275px;
    height: 540px;
    background-color: #fff;
    display: flex;
    color: #282f3c;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap: 20px;
}

.cart .empty_block_item p{
    font-size: 14px;
}    
.cart .empty_block_item button{
    padding: 14px 36px;
    background-color: #dd1470;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 550;
    color: #fff;
    cursor: pointer;
}
.cart .cart_header{
    padding: 3%;    
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart .cart_header a{
    color: #282f3c;
    font-size: 15px;
    font-weight: 400;
}
.cart .cart_header svg{
    color: #dd1470;
    font-size: 12px;
    font-weight: 100 !important; 
}
.cart .cart_header p{
    color: #dd1470;
    font-size: 14px;
    cursor: auto;
    font-weight: 200;
}
.cart .cart_body{
    width: 100%;
    height: auto;
    background-color: red;
    /* padding: 0px 0px 24px; */
    margin: -40px -10px 24px;
    display: flex;
    align-items:start;
    padding: 3%; 
    justify-content: space-between;
}
.cart section{
    width: 949px;
    height: 151px;
    border-radius: 8px;
    background-color: #fff;
}
.cart aside{
    width: 300px;
    border-radius: 8px;
    background-color: dodgerblue;
    height: 335px;
}
