

.header_top {
  width: 100%;
  height: 49px;
  display: flex;
  padding-left: 4%;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  
}
.header_top .left{
  display: flex;
  gap: 10px;
  align-items: center;
}
.header_top .right{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 4%;
}
.header_top span {
  font-family: "Inter", sans-serif;
  color: #242424;
  /* font-weight: 200; */
  font-size: 17px;
}
.header_top .foiz{
  font-size: 18px;
  color: #DD1470;

}
.header_top .location {
  margin-left: 20px;
  color: #DD1470;
  font-size: 21px;
}
.header_top .number{
  font-size: 16.5px;
  margin-right: 20px;
}
.header_top .phone{
  font-size: 16px;
  color: #DD1470;
}
.header_top img{
  width: 17px;
  height: 17px;
}
.header_top .h_last_button{
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.header_top .last_top{
  font-size: 11px;
  color: #444;
  margin-left: 6px;
}
.showDropdown{
  width: 200px;
  height: 200px;
  background-color: #eee;
  /* margin-top: 40px; */
}
nav{
  width: 100%;
  height: 105px;
  display: flex;align-items: center;
  background-color: aliceblue;
  gap: 60px;
}
nav img{
  width: 105px;
  height: 42px;
  margin-left: 4%;
}
nav .header_icon{
  display: flex;
  gap: 35px;
  margin-left: 5px;
}

nav .h_btn_1{
  padding: 15px 24px;
  background-color: #DD1470;
  border: none;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}
nav .h_btn_1:hover{
  background-color: #c71464;
}

nav input{
  width: 520px;
  height: 50px;
  border: none;
  font-size: 15px;
  text-indent: 18px;
  background-color: #ddd;
border-radius: 9px;
}
nav input:focus{
  outline: none;
  border: 1px solid #DD1470;
}

nav .input_btn{
  padding: 13px 30px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  background-color: #fff;
  margin-left: -138px;
  cursor: pointer;
  border: none;
  color: #2424246e;
  background-color: #ddd;
  transition: 0.3s;

  font-size: 17px;
}
nav .input_btn:focus{
  background-color: #DD1470;
}

.header_icon .h_icon_item .h_icon{
  font-size: 30px;
  /* font-weight: 700; */
  cursor: pointer;
  
  /* color: red; */

}

.header_icon .h_icon_item {
transition: 0.3s;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header_icon .h_icon_item:hover {
  color: #DD1470;
}

.header_icon p{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.header_icon sup{
  padding: 1px 4px;
  /* margin-top: -10px; */
  font-weight: 550;
  border-radius: 50%;
  margin-top: 100px;
  background-color: #FFBF3C;
  
}
