.main{
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-direction: column;
    color: #282f5d;

    button{
        width: 246px;
        height: 46px;
        border: none;
        color: #fff;
        background-color: #dd1470;
    }
}

.box{
    width: 100%;
    height: 100vh;
    padding: 100px;
    background:#f2f3f5;
    display: flex;
    gap: 25px;
}

.saidbar{
    width: 85%;
    height: 85%;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tovar{
    width: 100%;
    height: 33%;
    display: flex;
    gap: 25px;
    border-bottom: 0.4px solid #828282;
}


.text{
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2{
        color: #282F3C;
        font-size: 18px;
    }

    p:nth-child(2){
        color: #282F3C;
    }

    p:nth-child(3){
        color: #828282;
        font-size: 14px;
    }
}

.item_icon{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 35px;
    color: #828282;
    margin-left: 500px;
    font-weight: 100;
}


.modal{
    width: 339px;
    height: 253px;
    background-color: #fff;
    padding: 20px;
    color: #282F3C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p{
        font-size: 14px;
    }
}