.main{
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-direction: column;
    color: #282f5d;

    button{
        width: 246px;
        height: 46px;
        border: none;
        color: #fff;
        background-color: #dd1470;
    }
}

.box{
    width: 100%;
    padding: 100px 20px;
    background:#f2f3f5;
    display: flex;
    gap: 25px;
}

.saidbar{
    width: 75%;
    background-color: #fff;
    padding:  50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 5px;
}

.tovar{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
    border-bottom: 0.5px solid #f2f2f2;
}

.tovar:last-child{
    border: none;
}

.tovar img{
    width: 100px;
    height: 100px;
}


.text{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2{
        color: #282F3C;
        font-size: 18px;
    }

    p:nth-child(2){
        color: #282F3C;
    }

    p:nth-child(3){
        color: #828282;
        font-size: 14px;
    }
}

.item_icon{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 35px;
    color: #828282;
    margin-left: 150px;
    font-weight: 100;
}


.modal{
    width: 339px;
    height: 253px;
    background-color: #fff;
    padding: 20px;
    color: #282F3C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p{
        margin-top: 10px;
        font-size: 14px;
    }

    hr{
        border: 1px solid #f2f2f2;
    }

    .btn1{
        width: 300px;
        height: 50px;
        border: none;
        border: 2px solid #dd1470;
        color: #dd1470;
        background: transparent;
        border-radius: 5px;
    }

    
    .btn2{
        width: 300px;
        height: 50px;
        border: none;
        background: #dd1470;
        color: #fff;
        border-radius: 5px;
    }
}

@media screen  and (max-width:1450px ){
    .saidbar{
        width: 70%;
    }
}

@media screen and (max-width:1200px) {
    .box{
        flex-direction: column;
        align-items: center;
    }


   .btn2{
    width: 70%;
   }

    .modal{
        width: 70%;
        margin-top: -25px;

    }

    .text{
        width: 350px;
    }

    .item_icon{
    margin-left: 10px;
    }
}

@media screen and (max-width:900px) {
  .item1{
    font-size: 15px;
  }  

  .text>p{
    font-size: 10px;
  }

  .saidbar{
    padding: 10px;
  }
}

@media screen and (max-width:750px) {
    .tovar{
        flex-wrap: wrap;
    }


    .saidbar{
        padding: 15px;
    }

    .text>.item1{
        font-size: 18px;
    }

    .text>p{
        font-size: 14px;
    }
}

@media screen and (max-width:520px) {
    
}