footer {
  width: 100%;
  height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282f3c;
}
footer .footer_top {
  width: 93%;
  height: 100%;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
}
footer .footer_top .footer_top_item:first-child {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  
}
footer .footer_top .footer_top_item {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
footer .footer_top .footer_top_item h4 {
  color: #fff;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
footer .footer_top .footer_top_item a {
  color: #7d7d8c;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

footer .footer_top .footer_top_item div img {
  width: 115px;
  height: 50px;
}
footer .footer_top .footer_top_item .footer_icon svg {
  color: #7a7d8c;
  border: 1px solid #7a7d8c;
  border-radius: 32px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 44px;
}

footer .footer_top .footer_top_item .footer_icon {
  align-items: center;
  gap: 10px;
  display: flex;
}
footer .footer_top_item button {
  padding: 10px 25px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
}
