.search {
  width: 100%;
  height: 100vh;
  padding: 0 3%;
  background-color: #f2f2f2;
}

.search .search_navigation {
  margin: 0px 0px 16px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 9px;
}

.search .search_navigation a:first-child {
  color: #282f3c;
  font-size: 15px;  
}

.search .search_navigation svg,
a:last-child {
  color: #dd1470;
  font-size: 14px;
}

.search .search_title {
  margin: 0px 0px 24px;
  color: #282f3c;
  font-size: 24px;
}

.search .search_container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.search .search_container .search_bar {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.search .search_container .search_bar .search_bar_top {
  margin: 0px 0px 16px;
  padding: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.search_bar .search_bar_top input {
  height: 46px; 
  padding: 12px;
  border-radius: 12px 0 0 12px;
  text-indent: 10px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

.search .search_bar_top input:focus {
  border: 1px solid #dd1470;
}

.search_bar .search_bar_top input:focus + button {
  background-color: var(--main-color);
  color: #fff;
}

.search_bar .search_bar_top button {
  padding: 0 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0px 12px 12px 0px;
  height: 100%;
  font-size: 20px;
  color: #999;
  display: grid;
  place-items: center;
}

.search .search_container .search_bar_bottom {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
}

.search_bar_bottom .search_bar_bottom_item:first-child,
:nth-child(4) {
  margin: 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_bar_bottom .search_bar_bottom_item svg {
  font-size: 22px;
  color: #282f3c;
}

.search_bar_bottom .search_bar_bottom_item a {
  color: #282f3c;
  font-size: 15px;
  font-weight: 550;
}

.search_bar_bottom .search_bar_bottom_item:nth-child(2) {
  display: flex;
}

.search .manufacturer {
  width: 100%;
  height: 46px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 0px 12px 12px 0px;
  background-color: #f2f2f2;
  outline: none;
}

.search_bar_bottom_item:nth-child(2) button {
  padding: 12px 5px 12px 12px;
  height: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 12px 0 0 12px;
  color: #999;
  display: grid;
  place-items: center;
}

.search_bar_bottom_item:nth-child(2) svg {
  color: #999;
}
.search .search_bar_bottom_item:nth-child(3) {
  display: flex;
  gap: 10px;
  margin: 12px;
  flex-direction: column;
}

.search .search_bar_bottom_item:nth-child(3) .filter {
  display: flex;
  gap: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  /* gap: 20px; */
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  position: absolute;
  top: -8px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  font-size: 12px;
  color: #999;
}

.input-container input {
  width: 100px;
  height: 35px;
   font-size: 16px;
  border: 1px solid #ccc;
  text-indent: 10px;
  border-radius: 12px;
  outline: none;
}

#dan, #gacha input:focus {
  border-color: #dd1470;
}

.search .search_container .search_aside {
  background-color: #f2f2f2;
  width: 100%;
  height: 500px;
}

.aside_navligation{
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 16px;
  padding: 13px 32px;
  border-radius: 12px;
  background-color: #fff;
}

.aside_navligation_left{
  display: flex;
  gap: 15px;
}

.aside_navligation a{
  color: #828282;
  font-size: 15px;
  gap: 10px;
}

.aside_navligation_right{
  display: flex;
  align-items: center;
  gap: 7px;
}
.aside_navligation_right .grid{
  color: #dd1470;
  font-size: 25px;
}

.aside_navligation_right svg:last-child{
  color: #828282;
  font-size: 25px;
}

.search .search_products{
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 7px;
  background-color: #ccc;
}



