* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
  }
body{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}  