.banner {
  width: 100%;
  height: 420px;
  padding: 30px 3%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.banner .left,
.banner .bannerRight {
  width: 50%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.banner .left {
  background-color: #fff;
}

.banner .bannerRight {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.banner .bannerRight img {
  width: 100%;
  height: 98.1%;
  /* object-fit: contain; */
  border-radius: 12px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
